@Title-font: "Oswald", "Arial", sans-serif;
@content-font: "Lato", "Arial", sans-serif;

/*bg color*/

<<<<<<< HEAD
@promo-color: #69b738;
@cards-color: #f2f2f2;
@examle-color: #eaeaea;
@border-color: hsl(0, 0%, 80%);
=======
@promo-color: #68B738;
@cards-color: #f2f2f2;
@examle-color: #eaeaea;
@border-color: #cdcdcd;

>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c

/*font color*/

@prime-font: #000000;
@grey-font: #444444;

/*size*/

@tablet: 768px;
@desktop: 1440px;
