.button {
  color: #ffffff;
  background-color: @promo-color;
  font-family: @Title-font;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
<<<<<<< HEAD
=======
  cursor: pointer;

  &--more {
    padding: 10px 94px;
    font-size: 16px;
    line-height: 20px;
    background-color: #f2f2f2;
    color: #444444;
    width: 100%;
  }
}

.button:hover {
  background-color: #5eaa2f;
>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
}

.button__promo {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  top: 137px;
  min-height: 40px;
}

<<<<<<< HEAD
=======
.button__promo:hover {
  background-color: #5eaa2f;
}

.button__promo:focus {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.button__promo:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
@media (min-width: @tablet) {
  .button__promo {
    width: 244px;
    top: 0;
    left: 100px;
    font-size: 20px;
    line-height: 20px;
    padding: 18px 18px;
    z-index: 9;
  }
}

@media (min-width: @desktop) {
  .button__promo {
    width: 244px;
    top: 2px;
    left: 170px;
    font-size: 20px;
    line-height: 20px;
    padding: 18px 18px;
    z-index: 9;
  }
}
