.button {
  color: #ffffff;
  background-color: @promo-color;
  font-family: @Title-font;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.button__promo {
  display: block;
  text-decoration: none;
  padding: 10px 8px;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  top: 140px;
}
