.cards-item__table {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-item__description,
.cards-item__value {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
