.cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 16px 20px 25px;
  margin: 0;
  border-top: 1px solid #ebebeb;
}

@media (min-width: @tablet) {
  .cards {
    display: block;
    box-sizing: border-box;
    flex-direction: column;
    border: 0;
    padding: 0px 37px;
    margin: 2px 0 71px;
    min-width: 324px;
  }
}

@media (min-width: @tablet) {
  .cards {
    min-width: 245px;
  }
}

.cards__link {
  display: block;
  text-decoration: none;
}

@media (min-width: @tablet) {
  .cards__link {
    padding-top: unset;
    align-self: center;
  }
}

.cards__link--image {
  text-align: center;
  display: flex;
  height: 107px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 19px 0 0 0;
}

@media (min-width: @tablet) {
  .cards__link--image {
    margin: 31px 0 70px 0;
    padding: 0;
  }
}

.cards__link--header {
  padding: 1px 0 0;
}

@media (min-width: @tablet) {
  .cards__link--header {
    margin: 0 auto;
  }
}


.cards__image {
  width: 140px;
  height: 107px;
}

@media (min-width: @tablet) {
  .cards__image {
    width: 200px;
    height: 210px;
  }
}

.cards__image-small {
  margin: 18px 0 0 0;
}

@media (min-width: @tablet) {
  .cards__image-small {
 margin: 0;
  }
}

.cards__header {
  margin: 4px 0 14px;
  max-width: 80px;
  font-family: @Title-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

@media (min-width: @tablet) {
  .cards__header {
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  text-align: center;
  max-width: 140px;
  }
}

.cards__button {
  min-height: 40px;
  display: block;
  box-sizing: border-box;
  min-width: 280px;
  padding: 8px 20px;
  margin: 0 auto;
}


@media (min-width: @tablet) {
  .cards__button {
    min-width: 250px;
  }
}

@media (min-width: @desktop) {
  .cards__button {
    min-width: 169px;
  }
}

@media (min-width: @tablet) {
  .cards__table-container {
    margin: 20px 0 43px;
  }
}

.card__button--more {
  width: 30px;
  height: 30px;
  background: url("../img/svg/plus.svg") no-repeat center;
  color: transparent;
  margin-top: 10px;
  margin-left: 45%;
  border: none;
}

@media (min-width: @tablet) {
  .card__button--more {
    width: 60px;
    height: 60px;
    margin-top: 35px;
    margin-left: 38%;
  }
}
