.cooperation {
  margin: 0;
  padding-top: 0;
  padding-left: 10px;
}

<<<<<<< HEAD
@media (min-width: @desktop) {
  .cooperation {
    position: relative;
=======
.cooperation--form {
  background-color: @cards-color;
}

@media (min-width: @desktop) {
  .cooperation {
    position: relative;
    margin: 0 auto;
    width: 1440px;
>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
  }
}

.cooperation__wrapper {
<<<<<<< HEAD
  padding: 27px 10px 22px 9px;
=======
  padding: 26px 11px 23px 10px;
>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
  display: flex;
  justify-content: space-around;
}

@media (min-width: @tablet) {
  .cooperation__wrapper {
    padding: 62px 70px 44px 59px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop) {
  .cooperation__wrapper {
    position: absolute;
    background-color: #ffffff;
    z-index: 12;
<<<<<<< HEAD
    top: 100px;
=======
    top: 98px;
>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
    left: 109px;
    padding: 65px 77px 46px 80px;
  }
}

.cooperation__wrapper-contact {
  display: block;
<<<<<<< HEAD
  padding-left: 15px;
=======
  padding-left: 16px;
>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
  padding-top: 0;
}

@media (min-width: @tablet) {
  .cooperation__wrapper-contact {
    width: 200px;
    text-align: right;
  }
}

@media (min-width: @desktop) {
  .cooperation__wrapper-contact {
    text-align: left;
    padding-left: 58px;
    width: 220px;
  }
}

@media (min-width: @tablet) {
  .cooperation__title {
    width: 187px;
    text-align: right;
  }
}

.cooperation__title {
  font-family: @Title-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
<<<<<<< HEAD
=======
  width: 140px;
>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
}

@media (min-width: @tablet) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    width: 194px;
  }
}

.cooperation__contact {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
}


@media (min-width: @tablet) {
  .cooperation__contact {
    font-size: 16px;
    line-height: 20px;
  }
}

.cooperation__contact--city {
  line-height: 26px;
}

@media (min-width: @tablet) {
  .cooperation__contact--city {
    line-height: 55px;
  }
}
