.cooperation {
  margin: 0;
  padding-top: 78px;
  padding-left: 10px;
}

.cooperation__map-block {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../img/map-pin.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 57px;
    height: 53px;
    left: 42%;
    top: 38%;
  }

  &::after {
    position: relative;
    background-image: url("../../img/map-mobile.jpg");
    background-size: contain;
  }
}

.cooperation__wrapper {
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
}

.cooperation__wrapper-contact {
  display: block;
  padding-left: 15px;
  padding-top: 0;
}

.cooperation__title {
  font-family: @Title-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__contact {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
