.example {
  padding: 0;
  margin: 0;
  padding-top: 35px;
}

.example__wrapper {
  background-color: @examle-color;
  padding: 25px 20px;
}

.example__title {
  font-family: @Title-font;
  color: @prime-font;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.example__stats-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__stats-item {
  margin: 10px 0;
  padding: 11px 10px;
  border: 1px solid @border-color;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 124px;

}

.example__fact {
  font-family: @Title-font;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.example__text {
  color: @grey-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.example__fact-lable {
  margin: 0;
  text-align: center;
  color: @grey-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  max-width: 59px;
  position: absolute;
  top: 152em;
  background-color: @examle-color;

}

.example__total {
  display: block;
}

.example__total-text {
  text-align: center;
  font-family: @Title-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

}

.example__slider {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
