.extra {
  padding: 0 0 20px 0;
  margin: 0;
}

.extra__legend {
  margin: 0;
  padding: 0;
}

.extra__title {
  padding: 1px 22px 33px 19px;
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.extra__item {
  margin: 0;
  padding: 0 0 19px;
  border-top: 1px solid #cdcdcd;
}

.extra__item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.extra__item-title {
  font-family: @Title-font;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 7px;
}

.extra__wrapper {
  padding: 0 20px;
}

.extra__button {
  min-width: 280px;
  height: 40px;
  border: none;
  font-size: 16px;
  display: flex;
  box-sizing: border-box;
}
