.footer {
  display: block;
  padding: 50px 20px;
}
.footer__wrapper {
  display: block;
}

.footer__social-list {
  display: flex;
}

.footer__conact {
  padding: 5px;
}

.footer__conact-academy {
  color: @grey-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer__academy-wrapper {
  display: flex;
  justify-content: space-between;
}
