.group-contacts {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.group-contacts__input {
  font-family: @Title-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  white-space: nowrap;
  min-height: 45px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  appearance: none;
  box-sizing: border-box;
  padding: 4px 6px 3px 15px;
  width: 100%;
}

@media (min-width: @tablet) {
  .group-contacts__input {
    min-height: 52px;
    padding: 0 20px 0 17px;
    font-size: 20px;
  }
}

.group-contacts__legend {
  padding-left: 20px;
}

@media (min-width: @tablet) {
  .group-contacts__legend {
    padding-bottom: 3px;
    min-width: 187px;
    padding-left: 70px;
  }
}

.group-contacts__title {
  max-width: 227px;
  padding: 0 20px;
}

@media (min-width: @tablet) {
  .group-contacts__title {
    font-size: 36px;
    line-height: 36px;
    max-width: 768px;
    margin-left: 30px;
  }
}

@media (min-width: @desktop) {
  .group-contacts__title {
    margin-left: 72px;
  }
}

.group-contacts__list {
  padding: 18px 20px 24px 20px;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @tablet) {
    padding: 74px 68px 65px;
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 0 78px;
    margin: 0 auto;
    align-items: baseline;
    padding: 76px 110px 0;
  }
}


.group-contacts__item {
  margin-bottom: 14px;
  position: relative;
  padding: 0;

  @media (min-width: @tablet) {
    margin-bottom: 19px;
  }
}

.group-contacts__item:last-child, {
  margin-bottom: 0;

  @media (min-width: @desktop) {
    margin-bottom: unset;
  }
}

.group-contacts--input-mail,
.group-contacts__input--input-mail {
  &:invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }
}

@media (min-width: @tablet) {
  .group-contacts--input-mail,
  .group-contacts__input--input-mail {
    margin-left: 13px;
  }
}

// @media (min-width: @desktop) {
//     .group-contacts--input-mail,
//     .group-contacts__input--input-mail {
//   // //   width: 494px;
//   }
// }

.group-contacts--input-phone,
.group-contacts__input--input-phone {
  // min-width: 200px;

  &:invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }
}

@media (min-width: @tablet) {
  .group-contacts--input-phone,
  .group-contacts__input--input-phone {
    margin-left: 14px;
  }
}

@media (min-width: @desktop) {
  .group-contacts--input-phone,
  .group-contacts__input--input-phone {
    // min-width: 472px;
  }
}

.group-contacts__icon {
  position: relative;
  right: 0;
  top: 0;
}

.group-contacts__icon--email {
  position: absolute;
  right: 11px;
  top: 13px;
  stroke: #222222;
}

.group-contacts__icon--email:hover {
  stroke: @promo-color;
}

@media (min-width: @tablet) {
  .group-contacts__icon--email {
    right: 15px;
    top: 16px;
  }
}

.group-contacts__icon--phone {
  position: absolute;
  right: 12px;
  top: 14px;
  stroke: #222222;
}

.group-contacts__icon--phone:hover {
  stroke: @promo-color;
}

.group-contacts__input--input-mail:invalid + .group-contacts__icon--email {
  stroke: #ff8282;
}

.group-contacts__input--input-phone:invalid + .group-contacts__icon--phone {
  stroke: #ff8282;
}

@media (min-width: @tablet) {
  .group-contacts__icon--phone {
    right: 15px;
    top: 18px;
  }
}

@media (min-width: @tablet) {
  .group-contacts {
    margin: 0;
  }
}

@media (min-width: @desktop) {
  .group-contacts {
    grid-column: 1/-1;
  }

  .group-contacts__item {
    // max-width: 570px;
  }

  .group-contacts__title {
    padding-right: 0;
  }
}

.group-contacts__title--group {
  display: inline-block;
  position: relative;
  font-family: @Title-font;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;
  z-index: 6;
}

@media (min-width: @tablet) {
  .group-contacts__title--group {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }
}

@media (min-width: @desktop) {
  .group-contacts__title--group {
    font-size: 36px;
    line-height: 36px;
    padding: 0 38px;
  }
}
