.group-additional {
  padding: 0 10px;
  margin: 0;
}

.group-additional__liner {
  width: 200px;
  top: 14px;
  left: 181px;
}

.group-additional__list {
  padding: 38px 20px;
  margin: 0;
}

.group-additional__title {
  font-family: @Title-font;
  font-size: 24px;
  line-height: 26px;
}

@media (min-width: @tablet) {
  .group-additional {
    margin: 0;
  }

  .group-additional__title {
    margin-bottom: 0;
  }

  .group-additional__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 100px;
    padding: 57px 70px 54px 70px;
  }

  .group-additional__item {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop) {
  .group-additional {
    grid-column: 1/-1;
  }

  .group-additional__list {
    margin: 0 auto;
    padding: 57px 40px 0 40px;
    max-width: 1300px;
    display: flex;
    gap: 30px 104px;
    flex-wrap: wrap;
  }

  .group-additional__item {
    max-width: 223px;
  }
}
