// .main-nav {

// }

.main-nav__toggle {
  position: absolute;
  right: -270px;
  top: -21px;
}

@media (min-width: @tablet) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  z-index: 4;
  position: relative;
  background-color: #ffffff;
  padding: 0;
  width: 100%;
}

.main-nav__list--closed {
  display: block;
  top: -15px;
}

.main-nav__list--opened {
  display: none;
}

.main-nav__list--no-js {
  display: block;
}

@media (min-width: @tablet) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    padding-right: 0;
    padding-top: 24px;
    gap: 28px;
    width: auto;
    justify-content: flex-end;
  }
}

// @media (min-width: @tablet) {
//   .main-nav__list--form {
//     left: 278px;
//   }
// }

@media (min-width: @desktop) {
  .main-nav__list {
    max-width: 517px;
    justify-content: flex-end;
    column-gap: 35px;
  }
}

@media (min-width: @tablet) {
  .main-nav__list-form {
    padding-right: 31px;
  }
}
