.main {
  display: flex;
  padding: 20px 13px;
  font-family: "Oswald", "Arial", sans-serif;
}
    /*сильно не уверена*/

.main__logo-wrapper {
  background-image: url("source/img/footer-logo.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 300px;
}
