.main {
  position: relative;
  padding: 42px 11px 0;
<<<<<<< HEAD
  background: url("../../img/textlogo.svg");
=======
  background: url("../img/textlogo.svg");
>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
  background-repeat: no-repeat;
  background-position: center 22px;
}

@media (min-width: @tablet) {
  .main {
    padding: 0 31px 112px 23px;
<<<<<<< HEAD
    background-position: 102px 41px;
=======
    background: none;
>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
  }
}

@media (min-width: @desktop) {
  .main {
<<<<<<< HEAD
    width: 1220px;
    padding: 35px 31px 112px 23px;
    background: url("../../img/svg/textlogo-desktop.svg");
=======
    width: 1440px;
    margin: 0 auto;
    padding: 35px 0 112px 0;
    background: none;
>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
    background-repeat: no-repeat;
    background-position: 194px 74px;
  }
}

.main__logo {
  position: absolute;
  top: 13px;
  left: 19px;
}

@media (min-width: @tablet) {
  .main__logo {
    top: 26px;
    left: 30px;
  }
}

<<<<<<< HEAD
=======
.main__logo-image:hover {
  opacity: 0.8;
}

.main__logo-image:focus {
  opacity: 0.6;
}

.main__logo-image:active {
  opacity: 0.6;
}

>>>>>>> c35e9a616fe13bc3b112ed543bfe18641ddb9f4c
@media (min-width: @desktop) {
  .main__logo {
    top: 56px;
    left: 110px;
  }
}
