.wrapper-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper-list__item {
  margin: 0;
  padding: 0;
  margin: 17px 0;
}
.wrapper-list__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-bottom: 18px;
}
